
div{
    display: inline-table;
}
.first{
    height: 100px;
    width: 100px;
    background-color: green;
   
}
.second{
    height: 100px;
    width: 100px;
    background-color: blue;
    

}
.third{
    height: 100px;
    width: 100px;
    background-color: red;
    
}